# Configuration file

fixes_reworks_tweaks {
    # Force-add AM2 Enums to lwjgl3ify config. Yes-yes, I know that lwjgl3ify literally guides anyone to do this manually in the console, but why should anyone do it manually? [default: true]
    B:lwjgl3ifyAutoEnum=true
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Here you can force-set various addon features.
##########################################################################################################

general {
    # Force AM2PG to consider a specific build of AM2 if you have problems with that. For those who are confused - AM2 has several different builds for Minecraft v1.7.10, each from different author, since the official Mition build has not been supported since about 2017. 
    # Leave Undefined for auto-select. 
    # Supported values: [Undefined, Mithion, ToCraft, kutschkem, TCLProject].
    S:AM2Build=TCLProject
}


integrations {
    B:Botania=true
    B:BotaniaPhantomInkAMArmor=true
    B:Thaumcraft=true

    # Makes Thaumcraft Rune Shield be applicable to all AM2 Armor. [default: true]
    B:ThaumcraftRuneShieldAMArmor=true
}


