# Configuration file

aether {
    # Aerbunnies will despawn outside the Aether dimension [default: true]
    B:aerbunnyAetherOnly=false

    # Whether aerbunnies spawn black smoke particles when on a player's head [default: false]
    B:aerbunnySmokeParticles=false

    # Replace Aether's accessories system with Baubles [default: true]
    B:aetherBaubles=false

    # Changes Ambrosium's maximum stack size [range: 0 ~ 64, default: 64]
    I:ambrosiumStackSize=64

    # Makes golden amber logs drop less amber. Also removes the requirement to use an Aether tool to get the amber [default: true]
    B:lessGoldenAmberDrops=false

    # Whether Moas will drop their eggs like chickens or not [default: false]
    B:moasDropEggs=false

    # Makes the Sentry Boots have iron level durability and defence [default: false]
    B:nerfSentryBoots=false

    # Replaces the Aether's mimic mob with the mimic added by Primitive Mobs. Requires the Primitive Mobs mod, of course [default: false]
    B:replaceAetherMimic=false

    # Removes Valkyrie dialogue and the Valkyrie Queen's interaction UI [default: false]
    B:silentValkyries=false

    # Requires my fork of Botania to work. Made for my modpack [default: false]
    B:tweakedAetherLoot=false
}


aetheroregen {
    #  [range: 0 ~ 2147483647, default: 15]
    I:ambrosiumOreChance=15

    #  [range: 0 ~ 2147483647, default: 128]
    I:ambrosiumOreMaxY=128

    #  [range: 0 ~ 2147483647, default: 16]
    I:ambrosiumOreSize=16

    #  [range: 0 ~ 2147483647, default: 8]
    I:gravititeOreChance=8

    #  [range: 0 ~ 2147483647, default: 32]
    I:gravititeOreMaxY=32

    #  [range: 0 ~ 2147483647, default: 6]
    I:gravititeOreSize=6

    #  [range: 0 ~ 2147483647, default: 10]
    I:icestoneChance=10

    #  [range: 0 ~ 2147483647, default: 128]
    I:icestoneMaxY=128

    #  [range: 0 ~ 2147483647, default: 16]
    I:icestoneSize=16

    #  [range: 0 ~ 2147483647, default: 12]
    I:zaniteOreChance=12

    #  [range: 0 ~ 2147483647, default: 64]
    I:zaniteOreMaxY=64

    #  [range: 0 ~ 2147483647, default: 8]
    I:zaniteOreSize=8
}


battletowers {
    # How much of each item will BT's golem drop [range: 0 ~ 2147483647, default: 2]
    I:battleTowerGolemDrops=0

    # How many extra items will Bt's golem drop (random amount from 0 to this value) [range: 0 ~ 2147483647, default: 2]
    I:battleTowerGolemExtraDrops=0

    # Makes the Battle Towers mod use a custom mob spawner that destroys itself after a certain amount of spawns, and that has a lower spawn range [default: true]
    B:betterBattleTowerSpawner=false

    # Removes the nether battle tower and prevents battle towers from generating outside the overworld [default: true]
    B:removeNetherBattleTower=false
}


dimdoors {
    # Limits Dimensional Door gateway generation to the overworld [default: true]
    B:overworldOnlyDimensionalDoors=false
}


etfuturum {
    # Makes it so the Crimson Forest's and the Warped Forest's fungal roots need shears to be dropped, just like grass [default: true]
    B:shearNetherRoots=false
}


general {
    # The amount of ticks it takes for an animal to be tempted by food again after you switch to another item. Vanilla is 100 [range: 0 ~ 2147483647, default: 30]
    I:animalTemptDelay=30

    # Adds the Autumnal Forest, a new autumn-themed biome [default: false]
    B:autumnForest=false

    #  [range: 0 ~ 2147483647, default: 40]
    I:autumnForestBiomeID=199

    #  [range: 0 ~ 2147483647, default: 7]
    I:autumnForestBiomeWeight=7

    # Makes stair recipes craft 8 stairs instead of just 4 [default: true]
    B:betterStairRecipe=true

    # Adds new three-block stair recipes that craft 4 stair blocks. Use this with betterStairRecipe [default: true]
    B:compactStairRecipe=true

    # Disables village generation [default: false]
    B:disableVillages=false

    # Enables ladder climbing being faster when looking upwards [default: true]
    B:enableFasterLadders=true

    # Enables the sword parry mechanic (blocking right when a projectile hits you) [default: true]
    B:enableSwordParry=true

    # Changes how often Endermen spawn [range: 0 ~ 2147483647, default: 10]
    I:endermanSpawnWeight=10

    # Backports 1.8 item frame functionality. Corporea compatible [default: true]
    B:itemFrame45Degrees=true

    # How much moving one block in the Nether be equivalent to in the Overworld
    D:netherMovementFactor=8.0

    # Removes the experience repair cost of unenchanted items. Materials also always repair a 3rd of an item's durability [default: true]
    B:noRepairCost=true

    # Skeletons will now visually pull their arrows before shooting, like in 1.8+ [default: true]
    B:renderSkeletonChargingBow=true

    #  [default: true]
    B:reversalSlabRecipe=true

    # Allows you to turn 4 stairs into  [default: true]
    B:reversalStairRecipe=true

    # Whether to add a button to the inventory that shows the Achievements menu [default: true]
    B:showAchievementsInventoryButton=true

    # Witches only spawn in the Swampland biome [default: true]
    B:swampOnlyWitches=true

    # The amount of ticks after blocking that sword parrying is possible.
    # Set to -1 to always parry when blocking. [range: -1 ~ 2147483647, default: 3]
    I:swordParryWindow=3

    # Master toggle for 1.12 Quark's underground biomes. [default: true]
    B:undergroundBiomes=true
}


hammerz {
    # Removes the torch placing functionality from HammerZ's hammers [default: true]
    B:removeHammerzTorchPlacing=false
}


hunger {
    # Enables the new stamina system [default: false]
    B:enableStaminaSystem=false

    # food that is eaten twice as fast [default: [melon], [spider_eye]]
    S:fastFood <
        melon
        spider_eye
     >

    # Item:effect:duration
    # 1-speed; 2-slowness; 3-haste; 4-fatigue; 5-strength; 6-heal; 7-hurt; 8-jump; 9-confusion;
    # 10-regen; 11-resistance; 12-fire; 13-water; 14-invisibility; 15-blindness;
    # 16-night; 17-hunger; 18-weakness; 19-poison; 20-wither; 22-absorption [default: [golden_carrot:16:12], [baked_potato:5:6], [cookie:1:7], [etfuturum.honey_bottle:1:15], [pumpkin_pie:11:6], [mushroom_stew:10:5], [etfuturum.rabbit_stew:8:12]]
    S:foodBuffs <
        golden_carrot:16:12
        baked_potato:5:6
        cookie:1:7
        etfuturum.honey_bottle:1:15
        pumpkin_pie:11:6
        mushroom_stew:10:5
        etfuturum.rabbit_stew:8:12
     >

    # Requires enableStaminaSystem
    # Item:healAmount [default: ]
    S:foodHealValues <
     >

    # Requires enableStaminaSystem [range: 0.0 ~ 10.0, default: 1.0]
    S:healingFoodMultiplier=1.0

    # Slower egg drops and cows drop less beef [default: false]
    B:scarceMeat=false

    # Enable to halve the speed crops grow at (Won't work in Garden of Glass worlds) [default: false]
    B:slowerCropGrowth=false

    # Requires enableStaminaSystem
    # Changes the amount of ticks it takes to recover stamina [range: 0 ~ 2147483647, default: 200]
    I:staminaTimer=200
}


primitivemobs {
    # Limits Primitive Mobs' monsters spawning to the overworld [default: true]
    B:overworldOnlyPrimitiveMonsters=false

    # Removes Primitive Mobs' achievements page [default: false]
    B:removePrimitiveMobsAchievements=false

    # Makes it so Rocket Creepers can only spawn when it's raining [default: false]
    B:rocketCreeperRainSpawn=false
}


thaumcraft {
    # Makes the Goggles of Revealing from TC4 wearable as a bauble. Requires Baubles Expanded [default: false]
    B:gogglesOfRevealingBauble=false

    # A list of biome IDs where greatwood trees will not generate [default: [29]]
    S:greatwoodBiomeIDBlacklist <
        29
     >

    # Allows the Infernal Furnace to smelt iron ingots into Railcraft's steel ingots. Requires Railcraft [default: true]
    B:infernalFurnaceSteel=true

    # Makes aura nodes 'infuse' a few stone blocks in a 3 block radius with an aspect every 3 minutes [default: true]
    B:nodeOreInfusion=true

    # Limits greatwood tree generation to the overworld [default: true]
    B:overworldOnlyGreatwood=true

    # Removes the Thaumostatic Harness' .obj model (the non-square one) [default: false]
    B:removeHarnessModel=false

    # Enables the generation of tainted trees in the Tainted Lands biome, as well as the Tainted Log block [default: true]
    B:taintedTrees=true

    # Makes the Thaumometer ignore item frames [default: true]
    B:thaumometerIgnoresItemFrame=true
}


twilightforest {
    # Changes the Wild Deer and Bighorn Sheep's models to better match vanilla's artsyle. [default: false]
    B:customTwilightForestModels=false
}


undergroundbiomes {

    desert {
        #  [default: [SANDY]]
        S:desertBiomeTypes <
            SANDY
         >

        #  [default: true]
        B:desertEnable=true

        #  [range: 0 ~ 2147483647, default: 7]
        I:desertHeightVariation=7

        #  [range: 0 ~ 2147483647, default: 40]
        I:desertMaximumYLevel=40

        #  [range: 0 ~ 2147483647, default: 10]
        I:desertMinimumHeight=10

        #  [range: 0 ~ 2147483647, default: 32]
        I:desertMinimumWidth=32

        #  [range: 0 ~ 2147483647, default: 26]
        I:desertMinimumYLevel=26

        #  [range: 0 ~ 2147483647, default: 8]
        I:desertRarity=8

        #  [range: 0 ~ 2147483647, default: 12]
        I:desertWidthVariation=12
    }

    swampslime {
        #  [default: [SWAMP]]
        S:swampSlimeBiomeTypes <
            SWAMP
         >

        #  [default: true]
        B:swampSlimeEnable=true

        #  [range: 0 ~ 2147483647, default: 7]
        I:swampSlimeHeightVariation=7

        #  [range: 0 ~ 2147483647, default: 40]
        I:swampSlimeMaximumYLevel=40

        #  [range: 0 ~ 2147483647, default: 10]
        I:swampSlimeMinimumHeight=10

        #  [range: 0 ~ 2147483647, default: 16]
        I:swampSlimeMinimumWidth=16

        #  [range: 0 ~ 2147483647, default: 26]
        I:swampSlimeMinimumYLevel=26

        #  [range: 0 ~ 2147483647, default: 15]
        I:swampSlimeRarity=15

        #  [range: 0 ~ 2147483647, default: 12]
        I:swampSlimeWidthVariation=12
    }

    jungle {
        #  [default: [JUNGLE]]
        S:jungleBiomeTypes <
            JUNGLE
         >

        #  [default: true]
        B:jungleEnable=true

        #  [range: 0 ~ 2147483647, default: 7]
        I:jungleHeightVariation=7

        #  [range: 0 ~ 2147483647, default: 40]
        I:jungleMaximumYLevel=40

        #  [range: 0 ~ 2147483647, default: 10]
        I:jungleMinimumHeight=10

        #  [range: 0 ~ 2147483647, default: 22]
        I:jungleMinimumWidth=22

        #  [range: 0 ~ 2147483647, default: 26]
        I:jungleMinimumYLevel=26

        #  [range: 0 ~ 2147483647, default: 8]
        I:jungleRarity=8

        #  [range: 0 ~ 2147483647, default: 12]
        I:jungleWidthVariation=12
    }

    tundra {
        #  [default: [CONIFEROUS]]
        S:tundraBiomeTypes <
            CONIFEROUS
         >

        #  [default: true]
        B:tundraEnable=true

        #  [range: 0 ~ 2147483647, default: 7]
        I:tundraHeightVariation=7

        #  [range: 0 ~ 2147483647, default: 40]
        I:tundraMaximumYLevel=40

        #  [range: 0 ~ 2147483647, default: 10]
        I:tundraMinimumHeight=10

        #  [range: 0 ~ 2147483647, default: 16]
        I:tundraMinimumWidth=16

        #  [range: 0 ~ 2147483647, default: 26]
        I:tundraMinimumYLevel=26

        #  [range: 0 ~ 2147483647, default: 40]
        I:tundraRarity=40

        #  [range: 0 ~ 2147483647, default: 12]
        I:tundraWidthVariation=12
    }

    plainsspider {
        #  [default: [PLAINS]]
        S:plainsSpiderBiomeTypes <
            PLAINS
         >

        #  [default: true]
        B:plainsSpiderEnable=true

        #  [range: 0 ~ 2147483647, default: 7]
        I:plainsSpiderHeightVariation=7

        #  [range: 0 ~ 2147483647, default: 40]
        I:plainsSpiderMaximumYLevel=40

        #  [range: 0 ~ 2147483647, default: 10]
        I:plainsSpiderMinimumHeight=10

        #  [range: 0 ~ 2147483647, default: 16]
        I:plainsSpiderMinimumWidth=16

        #  [range: 0 ~ 2147483647, default: 26]
        I:plainsSpiderMinimumYLevel=26

        #  [range: 0 ~ 2147483647, default: 80]
        I:plainsSpiderRarity=80

        #  [range: 0 ~ 2147483647, default: 12]
        I:plainsSpiderWidthVariation=12
    }

    icycave {
        #  [default: [SNOWY]]
        S:icyCaveBiomeTypes <
            SNOWY
         >

        #  [default: true]
        B:icyCaveEnable=true

        #  [range: 0 ~ 2147483647, default: 7]
        I:icyCaveHeightVariation=7

        #  [range: 0 ~ 2147483647, default: 40]
        I:icyCaveMaximumYLevel=40

        #  [range: 0 ~ 2147483647, default: 10]
        I:icyCaveMinimumHeight=10

        #  [range: 0 ~ 2147483647, default: 14]
        I:icyCaveMinimumWidth=14

        #  [range: 0 ~ 2147483647, default: 26]
        I:icyCaveMinimumYLevel=26

        #  [range: 0 ~ 2147483647, default: 15]
        I:icyCaveRarity=15

        #  [range: 0 ~ 2147483647, default: 12]
        I:icyCaveWidthVariation=12
    }

}


