# Configuration file

"additional tweaks" {
    S:AdvChainsawAdditionalMineableBlocks <
        minecraft:leaves
        minecraft:wool
        minecraft:melon_block
        minecraft:cactus
        minecraft:snow
        IC2:blockRubLeaves
     >
    S:AllowedShieldBoots <
        EMT:QuantumBootsTraveller
     >
    S:AllowedShieldHelmets <
        AdvancedSolarPanel:hybrid_solar_helmet
        AdvancedSolarPanel:ultimate_solar_helmet
        EMT:QuantumGogglesRevealing
        EMT:SolarHelmetRevealing
     >
    S:AllowedShieldLeggins <
     >
    I:EpicLapPackChargeTickChance=10
    I:MaxToolLevelAvailable=3
    S:PlasmaLauncherFluids <
     >
    S:hoverModeFallSpeed=0.0
    I:xpGainFactor=10000
}


"armor presets" {

    advjetpack {
        D:absorptionRatio=0.0
    }

    advlappack {
        D:absorptionRatio=0.0
    }

    advnanochestplate {
        D:absorptionRatio=0.36
    }

    gravichestplate {
        D:absorptionRatio=0.44
    }

}


"electric presets" {

    advjetpack {
        I:EnergyPerOperation=12
        I:MaxCharge=3000000
        I:Tier=3
        I:TransferLimit=3000
    }

    advchainsaw {
        I:EnergyPerOperation=100
        I:MaxCharge=1000000
        I:Tier=2
        I:TransferLimit=500
    }

    advdrill {
        I:EnergyPerOperation=3333
        I:MaxCharge=10000000
        I:Tier=4
        I:TransferLimit=100000
    }

    gravichestplate {
        I:EnergyPerOperation=278
        I:MaxCharge=30000000
        I:Tier=4
        I:TransferLimit=300000
    }

    gravitool {
        I:EnergyPerOperation=500
        I:MaxCharge=300000
        I:Tier=2
        I:TransferLimit=3000
    }

    relocator {
        I:EnergyPerOperation=0
        I:MaxCharge=10000000
        I:Tier=4
        I:TransferLimit=100000
    }

    advlappack {
        I:EnergyPerOperation=0
        I:MaxCharge=3000000
        I:Tier=3
        I:TransferLimit=30000
    }

    ultimatelappack {
        I:EnergyPerOperation=0
        I:MaxCharge=30000000
        I:Tier=4
        I:TransferLimit=300000
    }

    epiclappack {
        I:EnergyPerOperation=0
        I:MaxCharge=300000000
        I:Tier=5
        I:TransferLimit=3000000
    }

    vajra {
        I:EnergyPerOperation=3333
        I:MaxCharge=10000000
        I:Tier=4
        I:TransferLimit=100000
    }

    plasmalauncher {
        I:EnergyPerOperation=1000000
        I:MaxCharge=10000000
        I:Tier=5
        I:TransferLimit=375000
    }

    plasmacell {
        I:EnergyPerOperation=0
        I:MaxCharge=100000000
        I:Tier=5
        I:TransferLimit=375000
    }

}


"hud settings" {
    B:"Display hud"=true
    I:hudPosition=1
}


"recipes settings" {
    B:"Disable Advanced Chainsaw recipe"=false
    B:"Disable Advanced Dimond Drill recipe"=false
    B:"Disable Advanced Jetpack recipe"=false
    B:"Disable Advanced NanoChestPlate recipe"=false
    B:"Disable AdvancedLappack recipe"=false
    B:"Disable Basic recipes"=false
    B:"Disable EpicLappack recipe"=false
    B:"Disable GraviChestPlate recipe"=false
    B:"Disable GraviTool recipe"=false
    B:"Disable Nanobot recipe"=false
    B:"Disable Relocator recipe"=false
    B:"Disable UltimateLappack recipe"=false
    B:"Disable UltimateSolarHelmet recipe"=false
    B:"Disable Vajra recipe"=false
}


"relocator settings" {
    B:"Disable portal mode"=false
    B:"Disable translocator mode"=false
    I:relocatorEnergyPerDimesionTp=1500000
    I:relocatorEnergyPerPortal=2500000
    I:relocatorEnergyPerStandartTp=1000000
    I:relocatorEnergyPerTranslocator=2000000
}


"sounds settings" {
    B:"Disable all sounds"=false
}


"vajra settings" {
    B:"Disable Vajra accurate mode"=false
}


