# Configuration file

entitiesalwaysinfernal {
    B:BabyHeatscarSpider=false
    B:BlueSlime=false
    B:CrimsonPaladin=false
    B:Dissolved=false
    B:EntityAshenHunter=false
    B:EntityBabySkeleton=false
    B:EntityBasalz=false
    B:EntityBlaze=false
    B:EntityBlitz=false
    B:EntityBlizz=false
    B:EntityBossDragon=false
    B:EntityBrainyZombie=false
    B:EntityCaveSpider=false
    B:EntityCockatrice=false
    B:EntityConcussionCreeper=false
    B:EntityCreeper=false
    B:EntityCultistCleric=false
    B:EntityCultistKnight=false
    B:EntityDarkling=false
    B:EntityDireWolf=false
    B:EntityEIH=false
    B:EntityEarthElemental=false
    B:EntityEldritchGuardian=false
    B:EntityElementalSlime=false
    B:EntityEliteStinger=false
    B:EntityEnderman=false
    B:EntityEnderminy=false
    B:EntityFallenKnight=false
    B:EntityFallenMount=false
    B:EntityFireBat=false
    B:EntityFrozenViking=false
    B:EntityGiantBrainyZombie=false
    B:EntityGlob=false
    B:EntityGlowCloud=false
    B:EntityHellCow=false
    B:EntityHellfish=false
    B:EntityHellhound=false
    B:EntityHusk=false
    B:EntityIguana=false
    B:EntityIsaacBlood=false
    B:EntityIsaacBody=false
    B:EntityIsaacHead=false
    B:EntityIsaacNormal=false
    B:EntityJungleSpider=false
    B:EntityMagmaCube=false
    B:EntityManaCreeper=false
    B:EntityManaElemental=false
    B:EntityMindSpider=false
    B:EntityMobAngryEnderman=false
    B:EntityMobEnderman=false
    B:EntityNightCrawler=false
    B:EntityPech=false
    B:EntityPhantom=false
    B:EntityPigZombie=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntitySpirit=false
    B:EntitySpitter=false
    B:EntityStray=false
    B:EntityTFAdherent=false
    B:EntityTFArmoredGiant=false
    B:EntityTFBlockGoblin=false
    B:EntityTFDeathTome=false
    B:EntityTFFireBeetle=false
    B:EntityTFGiantMiner=false
    B:EntityTFGoblinKnightLower=false
    B:EntityTFGoblinKnightUpper=false
    B:EntityTFHarbingerCube=false
    B:EntityTFHelmetCrab=false
    B:EntityTFKingSpider=false
    B:EntityTFKobold=false
    B:EntityTFNaga=false
    B:EntityTFPinchBeetle=false
    B:EntityTFRedcap=false
    B:EntityTFRedcapSapper=false
    B:EntityTFSkeletonDruid=false
    B:EntityTFSlimeBeetle=false
    B:EntityTFSwarmSpider=false
    B:EntityTFTroll=false
    B:EntityTFWinterWolf=false
    B:EntityTFYeti=false
    B:EntityTFYetiAlpha=false
    B:EntityTaintChicken=false
    B:EntityTaintCow=false
    B:EntityTaintPig=false
    B:EntityTaintSheep=false
    B:EntityTaintSpider=false
    B:EntityTaintSpore=false
    B:EntityTaintSporeSwarmer=false
    B:EntityTaintSwarm=false
    B:EntityTaintVillager=false
    B:EntityThaumicSlime=false
    B:EntityTropiCreeper=false
    B:EntityTropiSkeleton=false
    B:EntityVoidCreeper=false
    B:EntityWasp=false
    B:EntityWhirlwind=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitherCat=false
    B:EntityWitherWitch=false
    B:EntityZephyr=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
    B:HeatscarSpider=false
    B:KingBlueSlime=false
    B:MadThaumaturge=false
    B:MutantCreeper=false
    B:MutantEnderman=false
    B:MutantSkeleton=false
    B:MutantZombie=false
    B:NitroCreeper=false
    B:Overanimated=false
    B:PoisonousLibelle=false
    B:QuicksilverElemental=false
    B:Samurai=false
    B:SpiderAdult=false
    B:ThaumGib=false
    B:Thaumaturge=false
    B:VengefulGolem=false
}


entitybasehealth {
    D:BlueSlime=24.0
    D:CrimsonPaladin=60.0
    D:Dissolved=60.0
    D:EntityBabySkeleton=20.0
    D:EntityBasalz=20.0
    D:EntityBlitz=20.0
    D:EntityBlizz=20.0
    D:EntityBrainyZombie=25.0
    D:EntityCaveSpider=12.0
    D:EntityConcussionCreeper=20.0
    D:EntityCreeper=20.0
    D:EntityCultistCleric=30.0
    D:EntityCultistKnight=36.0
    D:EntityDireWolf=20.0
    D:EntityEIH=40.0
    D:EntityEarthElemental=12.0
    D:EntityEldritchGuardian=50.0
    D:EntityElementalSlime=4.0
    D:EntityEliteStinger=30.0
    D:EntityEnderman=40.0
    D:EntityEnderminy=20.0
    D:EntityFallenKnight=12.0
    D:EntityFallenMount=30.0
    D:EntityFrozenViking=24.0
    D:EntityGiantBrainyZombie=60.0
    D:EntityGlob=16.0
    D:EntityGlowCloud=50.0
    D:EntityHusk=20.0
    D:EntityIguana=10.0
    D:EntityIsaacNormal=20.0
    D:EntityJungleSpider=6.0
    D:EntityMagmaCube=121.0
    D:EntityManaCreeper=20.0
    D:EntityManaElemental=20.0
    D:EntityMindSpider=1.0
    D:EntityMobEnderman=40.0
    D:EntityNightCrawler=35.0
    D:EntityPech=30.0
    D:EntityPhantom=20.0
    D:EntityPigZombie=20.0
    D:EntitySkeleton=20.0
    D:EntitySlime=1.0
    D:EntitySpider=16.0
    D:EntitySpirit=20.0
    D:EntityStray=20.0
    D:EntityTFAdherent=20.0
    D:EntityTFArmoredGiant=80.0
    D:EntityTFBlockGoblin=20.0
    D:EntityTFGiantMiner=80.0
    D:EntityTFGoblinKnightLower=20.0
    D:EntityTFGoblinKnightUpper=30.0
    D:EntityTFKobold=13.0
    D:EntityTFRedcap=20.0
    D:EntityTFSlimeBeetle=25.0
    D:EntityTFTroll=30.0
    D:EntityTFWinterWolf=8.0
    D:EntityTaintSpore=1.0
    D:EntityTaintSporeSwarmer=75.0
    D:EntityTaintSwarm=30.0
    D:EntityTaintVillager=30.0
    D:EntityTropiSkeleton=20.0
    D:EntityVoidCreeper=20.0
    D:EntityWasp=20.0
    D:EntityWisp=22.0
    D:EntityWitch=26.0
    D:EntityWitherCat=12.0
    D:EntityWitherWitch=30.0
    D:EntityZombie=20.0
    D:EntityZombieVillager=20.0
    D:KingBlueSlime=100.0
    D:MadThaumaturge=20.0
    D:MutantZombie=150.0
    D:Overanimated=20.0
    D:QuicksilverElemental=30.0
    D:Samurai=50.0
    D:SpiderAdult=20.0
    D:Thaumaturge=20.0
    D:VengefulGolem=20.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=false
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=false
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:BabyHeatscarSpider=true
    B:BlueSlime=true
    B:CrimsonPaladin=true
    B:Dissolved=true
    B:EntityAshenHunter=true
    B:EntityBabySkeleton=true
    B:EntityBasalz=true
    B:EntityBlaze=true
    B:EntityBlitz=true
    B:EntityBlizz=true
    B:EntityBossDragon=true
    B:EntityBrainyZombie=true
    B:EntityCaveSpider=true
    B:EntityCockatrice=true
    B:EntityConcussionCreeper=true
    B:EntityCreeper=true
    B:EntityCultistCleric=true
    B:EntityCultistKnight=true
    B:EntityDarkling=true
    B:EntityDireWolf=true
    B:EntityEIH=true
    B:EntityEarthElemental=true
    B:EntityEldritchGuardian=true
    B:EntityElementalSlime=true
    B:EntityEliteStinger=true
    B:EntityEnderman=true
    B:EntityEnderminy=true
    B:EntityFallenKnight=true
    B:EntityFallenMount=true
    B:EntityFireBat=true
    B:EntityFrozenViking=true
    B:EntityGiantBrainyZombie=true
    B:EntityGlob=true
    B:EntityGlowCloud=true
    B:EntityHellCow=true
    B:EntityHellfish=true
    B:EntityHellhound=true
    B:EntityHusk=true
    B:EntityIguana=true
    B:EntityIsaacBlood=true
    B:EntityIsaacBody=true
    B:EntityIsaacHead=true
    B:EntityIsaacNormal=true
    B:EntityJungleSpider=true
    B:EntityMagmaCube=true
    B:EntityManaCreeper=true
    B:EntityManaElemental=true
    B:EntityMindSpider=true
    B:EntityMobAngryEnderman=true
    B:EntityMobEnderman=true
    B:EntityNightCrawler=true
    B:EntityPech=true
    B:EntityPhantom=true
    B:EntityPigZombie=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntitySpirit=true
    B:EntitySpitter=true
    B:EntityStray=true
    B:EntityTFAdherent=true
    B:EntityTFArmoredGiant=true
    B:EntityTFBlockGoblin=true
    B:EntityTFDeathTome=true
    B:EntityTFFireBeetle=true
    B:EntityTFGiantMiner=true
    B:EntityTFGoblinKnightLower=true
    B:EntityTFGoblinKnightUpper=true
    B:EntityTFHarbingerCube=true
    B:EntityTFHelmetCrab=true
    B:EntityTFKingSpider=true
    B:EntityTFKobold=true
    B:EntityTFNaga=true
    B:EntityTFPinchBeetle=true
    B:EntityTFRedcap=true
    B:EntityTFRedcapSapper=true
    B:EntityTFSkeletonDruid=true
    B:EntityTFSlimeBeetle=true
    B:EntityTFSwarmSpider=true
    B:EntityTFTroll=true
    B:EntityTFWinterWolf=true
    B:EntityTFYeti=true
    B:EntityTFYetiAlpha=true
    B:EntityTaintChicken=true
    B:EntityTaintCow=true
    B:EntityTaintPig=true
    B:EntityTaintSheep=true
    B:EntityTaintSpider=true
    B:EntityTaintSpore=true
    B:EntityTaintSporeSwarmer=true
    B:EntityTaintSwarm=true
    B:EntityTaintVillager=true
    B:EntityThaumicSlime=true
    B:EntityTropiCreeper=true
    B:EntityTropiSkeleton=true
    B:EntityVoidCreeper=true
    B:EntityWasp=true
    B:EntityWhirlwind=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitherCat=true
    B:EntityWitherWitch=true
    B:EntityZephyr=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
    B:HeatscarSpider=true
    B:KingBlueSlime=true
    B:MadThaumaturge=true
    B:MutantCreeper=true
    B:MutantEnderman=true
    B:MutantSkeleton=true
    B:MutantZombie=true
    B:NitroCreeper=true
    B:Overanimated=true
    B:PoisonousLibelle=true
    B:QuicksilverElemental=true
    B:Samurai=true
    B:SpiderAdult=true
    B:ThaumGib=true
    B:Thaumaturge=true
    B:VengefulGolem=true
}


